.list-group-item.active {
  background-color: #808080;
  border-color: #808080;
}

item.active,
.list-group-item.active:hover {
  background-color: #808080;
  border-color: #808080;
}

#education,
#certifications,
#coursework,
#research {
  max-width: 600px;
}

#container-wrap {
  width: 1000px;
}

.navbar-a {
  padding-left: 5px;
}
<h2>Spring 2021</h2>
<div class="border">
  <h3>AAEC 5303 Applied Econometrics II</h3>
  <ul class="container2">
    <li>
      Lab 1: Implementation of instrumental variable (IV) procedures
      analyzing the effect of education (as years of schooling) on
      earnings (as hourly wages) (Card & Krueger,
      <a href="https://www.jstor.org/stable/2117925" target="_blank" rel="noopener noreferrer">1995</a>) - [<a
        href="coursework/spring 2021/AAEC 5303 - Econometrics II/Lab 1/Lab 1.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
    <li>
      Lab 2: Estimating treatment effects assuming homogeneous and
      heterogeneous effects of education on fertility for women of
      childbearing age in Botswana - [<a
        href="coursework/spring 2021/AAEC 5303 - Econometrics II/Lab 2/Lab 2.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
    <li>
      Lab 3: Testing and correcting for heteroskedasticity using
      White's test, Breusch-Pagan test, and White's
      Heteroskedasticity-Consistent Covariance Matrix (HCCM) for the
      study of efficiency in the production of U.S. airline services
      (Greene, 2007) - [<a
        href="coursework/spring 2021/AAEC 5303 - Econometrics II/Lab 3/Lab 3.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
    <li>
      Lab 4: Estimating system of equations using seemingly
      unrelated regression (SUR) and simultaneous equations model
      (SEM) developed by Muellbauer (1980a; 1980b) in order to model
      a simplified version of a linear approximate almost ideal
      demand system (LA/AIDS) - [<a
        href="coursework/spring 2021/AAEC 5303 - Econometrics II/Lab 4/Lab 4.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
    <li>
      Lab 5: Estimation of panel data models using the pooled model,
      fixed-effect model, or random-effects model regarding the
      outcome of wages (Cornell & Rupert, 1988) - [<a
        href="coursework/spring 2021/AAEC 5303 - Econometrics II/Lab 5/Lab 5.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
  </ul>
  <h3>AAEC 6311 Advanced Production Economics</h3>
  <ul class="container2">
    <li>
      Homework 1: Calculus review - [<a
        href="coursework/spring 2021/AAEC 6311 - Production/Homework 1/AAEC5303_HW1_Lim.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
    <li>
      Homework 2: Rates of return, rate of technical substitution,
      and the elasticity of demand - [<a
        href="coursework/spring 2021/AAEC 6311 - Production/Homework 2/AAEC6311_HW2_Lim.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
    <li>
      Homework 3: Profit under monopoly, Pareto optimal price and
      quantity, monopsony, and general equilibrium - [<a
        href="coursework/spring 2021/AAEC 6311 - Production/Homework 3/AAEC6311_HW3_Lim.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
    <li>
      Homework 4: Social welfare, social costs, and marginal benefit
      - [<a
        href="coursework/spring 2021/AAEC 6311 - Production/Homework 4/AAEC6311_HW_Lim.pdf" target="_blank" rel="noopener noreferrer"
        >PDF</a
      >]
    </li>
  </ul>
</div>

/* #navbar::before,
#navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#navbar::before {
  background-color: darkgrey;
  animation: typewriter 4s ease forwards;
}

@keyframes typewriter {
  to {
    top: 100%;
  }
} */

body {
  font-size: 1.65rem;
  overflow-x: hidden;
}

footer {
  background: gray;
  color: gray;
  padding: 3em;

  overflow-x: hidden;
  margin-top: auto;
}

td {
  font-size: 2px;
}

pre {
  font-size: 2px;
}

.r {
  font-size: 2px;
}

.title {
  font-size: 3rem;
  color: black;
}

h1 {
  /* Header 1 */
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  /* Header 2 */
  font-size: 2.5rem;
  padding: 2px;
  text-align: center;
}

h3 {
  /* Header 3 */
  font-size: 2rem;
}

h4 {
  /* Header 3 */
  font-size: 2.5rem;
}

h5 {
  /* Header 3 */
  font-size: 2rem;
}

h6 {
  /* Header 3 */
  font-size: 1rem;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  white-space: normal;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

.navbar-name {
  padding: 2rem;
  font-size: 3.25rem;
  color: black;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.navbar-name:hover {
  text-decoration: none;
  color: white;
}

.navbar-name::after {
  content: "";
  position: absolute;
  top: -0.25rem;
  bottom: -0.25rem;
  width: 100%;
  height: 90%;
  left: -0.5rem;
  background: gray;
  z-index: -1;

  transform: scaleX(0.11);
  transform-origin: left;

  transition: transform 250ms ease-in;
}

.navbar-name:hover::after {
  transform: scaleX(1);
}

p a,
li a,
a {
  position: relative;
  text-decoration: none;
}

p a:hover,
p a:focus,
li a:hover,
li a:focus,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.2s ease-in;
  color: navy;
}

p a::after,
li a::after,
a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

li a:hover::after,
p a:hover::after,
a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

p a small,
li a small {
  font-size: 1.5rem;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

header {
  width: 300px;
  float: right;
  margin-left: 44em;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

li.wrap {
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

ul.container2 {
  list-style-type: circle;
}

img {
  max-width: 100%;
  border-radius: 50%;
  z-index: 9999;
}

hr {
  position: relative;
  height: 1px;
  width: 40%;
  margin-left: 0%;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.container2 {
  position: relative;
  word-wrap: break-word;
  white-space: normal;
}

ul {
  margin: 0 0 20px;
  list-style: none;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

li.star::before {
  list-style: none;
  content: "\2606";
  left: 0;
  position: absolute;
}

section {
  max-width: 500px;
  float: left;
  padding-bottom: 50px;
}

small {
  font-size: 1rem;
}

header ul {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;
}

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}

header li:first-child a {
  border-radius: 5px 0 0 5px;
}

header li:last-child a {
  border-radius: 0 5px 5px 0;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #676767;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

header ul a:hover,
header ul a:focus {
  color: #675c5c;
  font-weight: bold;
}

header ul a:active {
  background-color: #f0f0f0;
}

strong {
  color: #222;
  font-weight: 700;
}

header ul li + li + li {
  border-right: none;
  width: 89px;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

.border {
  border-style: ridge;
  border-width: 1px;
  border-color: grey;
  border-radius: 0.5em;
  padding: 10px 20px 10px;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

@media print, screen and (max-width: 1600px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    float: none;
    position: relative;
    margin-left: 0;
    width: auto;
    left: 15%;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  header {
    max-width: 350px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 1200px) {
  body {
    word-wrap: break-word;
  }

  header {
    float: none;
    margin-left: 0;
    left: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 200px) {
  body {
    padding: 4px;
  }

  header ul {
    width: 99%;
  }

  header {
    float: none;
    position: absolute;
    left: 0;
  }

  header li,
  header ul li + li + li {
    width: 33%;
  }

  .navbar-name {
    padding-left: 10px;
  }
}

@media print {
  body {
    padding: 2px;
    font-size: 12pt;
    color: #444;
  }

  .navbar-name {
    padding-left: 10px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover,
::-webkit-scrollbar:focus {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

input[type="checkbox"] {
  display: none;
}

.wrap_text img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type="checkbox"]:checked ~ label > img {
  transform: scale(1.1) translate(0, 0);
  cursor: zoom-out;
}

footer {
  display: block;
}

:root {
  --clr-neon: hsl(0 1% 50%);
  --clr-bg: hsl(323 21% 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.neon-button {
  z-index: 9999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  background-color: var(--clr-bg);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.125em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: background-color 100ms linear;
}

.neon-button:focus,
.neon-button:active {
  color: var(--clr-neon);
  background-color: var(--clr-bg);
  text-decoration: none;
  outline: none;
  box-shadow: none;

  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: background-color 100ms linear;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.neon-button:hover::after {
  opacity: 1;
}

.neon-button:hover {
  color: var(--clr-bg);
  background: var(--clr-neon);
  text-decoration: none;
}
