---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Don Lim | Tableau">
  <article>
    <div class="tableau-dashboards">
      <div class="dashboard-section">
        <h2>HR Dashboard</h2>
        <div class="dashboard-container">
          <div
            class="tableauPlaceholder"
            id="viz1762190160311"
            style="position: relative"
          >
            <noscript
              ><a href="#"
                ><img
                  alt="HR | Summary "
                  src="https://public.tableau.com/static/images/HR/HRDashboard_17621865503170/HRSummary/1_rss.png"
                  style="border: none"
                /></a
              ></noscript
            ><object class="tableauViz" style="display:none;"
              ><param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value="" /><param
                name="name"
                value="HRDashboard_17621865503170/HRSummary"
              /><param name="tabs" value="no" /><param
                name="toolbar"
                value="yes"
              /><param
                name="static_image"
                value="https://public.tableau.com/static/images/HR/HRDashboard_17621865503170/HRSummary/1.png"
              />
              <param name="animate_transition" value="yes" /><param
                name="display_static_image"
                value="yes"
              /><param name="display_spinner" value="yes" /><param
                name="display_overlay"
                value="yes"
              /><param name="display_count" value="yes" /><param
                name="language"
                value="en-US"
              /></object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById("viz1762190160311");
            var vizElement = divElement.getElementsByTagName("object")[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = "1400px";
              vizElement.style.height = "827px";
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = "1400px";
              vizElement.style.height = "827px";
            } else {
              vizElement.style.width = "100%";
              vizElement.style.height = "4477px";
            }
            var scriptElement = document.createElement("script");
            scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
        </div>
      </div>

      <div class="dashboard-section">
        <h2>British Airways Dashboard</h2>
        <div class="dashboard-container">
          <div class="tableauPlaceholder" id="viz1761860533300">
            <noscript
              ><a href="#"
                ><img
                  alt="British Airways "
                  src="https://public.tableau.com/static/images/Br/BritishAirwaysDashboard_17615028723800/BritishAirways/1_rss.png"
                /></a
              ></noscript
            >
            <object class="tableauViz">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value />
              <param
                name="name"
                value="BritishAirwaysDashboard_17615028723800/BritishAirways"
              />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https://public.tableau.com/static/images/Br/BritishAirwaysDashboard_17615028723800/BritishAirways/1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
            </object>
          </div>
          <script type="text/javascript">
            (function () {
              var originalW = 1200,
                originalH = 727;
              var ratio = originalH / originalW;
              var divElement = document.getElementById("viz1761860533300");
              var vizElement = divElement.getElementsByTagName("object")[0];
              var containerWidth = divElement.offsetWidth;
              var refWidth = Math.min(containerWidth, originalW);
              if (refWidth === originalW) {
                vizElement.style.width = originalW + "px";
              } else {
                vizElement.style.width = "100%";
              }
              vizElement.style.maxWidth = "none";
              vizElement.style.margin = "0";
              vizElement.style.display = "block";
              vizElement.style.height =
                Math.max(300, Math.round(refWidth * ratio)) + "px";
            })();
          </script>
        </div>
      </div>

      <div class="dashboard-section">
        <h2>Sales and Customer Dashboard</h2>
        <div class="dashboard-container">
          <div class="tableauPlaceholder" id="viz1761839572870">
            <noscript
              ><a href="#"
                ><img
                  alt="Sales Dashboard "
                  src="https://public.tableau.com/static/images/Sa/SalesCustomerDashboards_17617785097160/SalesDashboard/1_rss.png"
                /></a
              ></noscript
            ><object class="tableauViz">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value />
              <param
                name="name"
                value="SalesCustomerDashboards_17617785097160/SalesDashboard"
              />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https://public.tableau.com/static/images/Sa/SalesCustomerDashboards_17617785097160/SalesDashboard/1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
            </object>
          </div>
          <script type="text/javascript">
            (function () {
              var originalW = 1200,
                originalH = 827;
              var ratio = originalH / originalW;
              var divElement = document.getElementById("viz1761839572870");
              var vizElement = divElement.getElementsByTagName("object")[0];
              var containerWidth = divElement.offsetWidth;
              var refWidth = Math.min(containerWidth, originalW);
              if (refWidth === originalW) {
                vizElement.style.width = originalW + "px";
              } else {
                vizElement.style.width = "100%";
              }
              vizElement.style.maxWidth = "none";
              vizElement.style.margin = "0";
              vizElement.style.display = "block";
              vizElement.style.height =
                Math.max(300, Math.round(refWidth * ratio)) + "px";
            })();
          </script>
        </div>
      </div>

      <div class="dashboard-section">
        <h2>Nationwide Home Builder Dashboard</h2>
        <div class="dashboard-container">
          <div class="tableauPlaceholder" id="viz1761839559260">
            <noscript
              ><a href="#"
                ><img
                  alt="Nationwide Home Builder "
                  src="https://public.tableau.com/static/images/Fi/FictionalNationalHomebuilder/NationwideHomeBuilder/1_rss.png"
                /></a
              ></noscript
            ><object class="tableauViz">
              <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
              <param name="embed_code_version" value="3" />
              <param name="site_root" value />
              <param
                name="name"
                value="FictionalNationalHomebuilder/NationwideHomeBuilder"
              />
              <param name="tabs" value="no" />
              <param name="toolbar" value="yes" />
              <param
                name="static_image"
                value="https://public.tableau.com/static/images/Fi/FictionalNationalHomebuilder/NationwideHomeBuilder/1.png"
              />
              <param name="animate_transition" value="yes" />
              <param name="display_static_image" value="yes" />
              <param name="display_spinner" value="yes" />
              <param name="display_overlay" value="yes" />
              <param name="display_count" value="yes" />
              <param name="language" value="en-US" />
            </object>
          </div>
          <script type="text/javascript">
            (function () {
              var originalW = 1200,
                originalH = 827;
              var ratio = originalH / originalW;
              var divElement = document.getElementById("viz1761839559260");
              var vizElement = divElement.getElementsByTagName("object")[0];
              var containerWidth = divElement.offsetWidth;
              var refWidth = Math.min(containerWidth, originalW);
              if (refWidth === originalW) {
                vizElement.style.width = originalW + "px";
              } else {
                vizElement.style.width = "100%";
              }
              vizElement.style.maxWidth = "none";
              vizElement.style.margin = "0";
              vizElement.style.display = "block";
              vizElement.style.height =
                Math.max(300, Math.round(refWidth * ratio)) + "px";
            })();
          </script>
        </div>
      </div>
    </div>
  </article>
</Layout>
