---
// Sidebar component for profile information
---

<div class="sidebar">
  <div class="sidebar-profile">
    <h2>Don Lim</h2>
    <img src="/images/me.jpg" alt="Don Lim" />
    <p>
      <a href="tel:806-317-7937" target="_blank"
        ><i class="fa fa-fw fa-phone"></i> 806-317-7937</a
      >
      <br />
      <a href="mailto:lim.don93@gmail.com" target="_blank"
        ><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> Email</a
      >
      <br />
      <a href="cv/LimDon_resumeCV.pdf" target="_blank" rel="noopener noreferrer"
        ><i class="fa fa-fw fa-file-pdf" aria-hidden="true"></i> CV/Resume</a
      >
    </p>
  </div>
</div>
